{% extends "BaseView.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div id="alertContainer" class="position-fixed top-0 end-0 p-3"></div>

    <div id="editorWrapper" class="container mt-5">

    </div>

    <div class="container mt-5">
        <div id="reload">
            {% include "partials/ArticleDetail.twig" %}
        </div>


        <!-- Button Row -->
        <div class="row text-center mb-4">
            <div class="col-md-8 offset-md-2">
                <a href="articles/pdf/{{ article.slug }}" target="_blank" class="btn btn-primary mx-1">
                    Open PDF
                </a>
                {% if app.user.id_user == article.id_user and article.status_id == status.status_id.REVIEW_PROCESS %}
                    <button id="editSave" data-article-id="{{ article.id_article }}" class="btn btn-success mx-1" type="button">Edit</button>
                    <button id="delete" onclick="deleteArticle({{ article.id_article }})" class="btn btn-danger mx-1" type="button">Delete</button>
                {% endif %}
            </div>
        </div>

        <!-- Author Information -->
        <div class="row mb-4">
            <div class="col-md-4 offset-md-4">
                <div class="author-info text-center">
                    <h5>{{ article.first_name }} {{ article.last_name }}</h5>
                    <p>Professor, Department of Computer Science, University XYZ</p>
                    <p>Email: {{ article.email }}</p>
                </div>
            </div>
        </div>

    <!-- Review Section -->
    <div class="review-section">
        <h3 class="text-center">Reviews</h3>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for review in reviews %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.first_name }} {{ review.last_name }}</h5>
                            <p class="card-text text-justify">{{ review.text|raw }}</p>

                            <p>
                                <strong>Content: </strong> {{ render_stars(review.content)|raw }} <br>
                                <strong>Formality: </strong> {{ render_stars(review.formality)|raw }} <br>
                                <strong>Up-to-date: </strong> {{ render_stars(review.up_to_date)|raw }} <br>
                                <strong>Language: </strong> {{ render_stars(review.language)|raw }}
                            </p>

                            <p class="card-text"><small class="text-muted">Reviewed on: {{ review.create_date|date('F j, Y') }}</small></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="/web-semestralni_prace/src/js/Article.js"></script>
{% endblock %}