{% extends "BaseView.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="{% if user.banned == ban.status.BANNED %}table-danger{% endif %}">
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user["first_name"] }} {{ user["last_name"] }}</td>
                    <td>{{ user["email"] }}</td>
                    {% if app.user.role_id >= user["role_id"] %}
                        <td>{{ user["role_name"] }}</td>
                    {% else %}
                        <td>
                            <select name="roles" id="roles" onchange="updateRole({{ user.id_user }}, this.value)">
                                {% for role in roles %}
                                    <option {% if user["role_id"] == role.id_role %} selected {% endif %} value="{{ role.id_role }}">{{ role.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    {% endif %}
                    <td>
                    {% if app.user.id_user == user.id_user %}
                        <a class="btn btn-primary" href="profile">Profile</a>
                    {% else %}
                        <a class="btn btn-primary" href="users/{{ user.username }}">Profile</a>

                        {% if app.user.role_id < user.role_id %}
                            {% if user.banned == ban.status.UNBANNED %}
                                <button class="btn btn-danger" onclick="banUser({{ user.id_user }})">Ban</button>
                            {% else %}
                                <button class="btn btn-success" onclick="unBanUser({{ user.id_user }})">Unban</button>
                            {% endif %}
                            <button class="btn btn-danger" onclick="deleteUser({{ user.id_user }})">Delete</button>
                        {% endif %}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function updateRole(id_user, value){
            $.ajax({
                url: 'users',
                method: 'POST',
                data: {
                    action: "update",
                    id_user: id_user,
                    id_role: value
                },
                success: function(response) {
                    console.log("Role updated successfully.");
                    alert("Role updated!");
                    location.reload();
                },
                error: function(error) {
                    console.error("Error updating role:", error);
                    alert("There was an error updating the role.");
                }
            });
        }

        function updateUserAction(id_user, action) {
            $.ajax({
                url: 'users',
                method: 'POST',
                data: {
                    action: action,
                    id_user: id_user
                },
                success: function(response) {
                    console.log("User " + action + " successfully.");
                    alert("User " + action + " updated!");
                    location.reload();
                },
                error: function(error) {
                    console.error("Error updating user " + action + ":", error);
                    alert("There was an error updating the user " + action + ".");
                }
            });
        }

        function banUser(id_user){
            updateUserAction(id_user, "ban")
        }

        function unBanUser(id_user){
            updateUserAction(id_user, "unban")
        }

        function deleteUser(id_user){
            updateUserAction(id_user, "delete")
        }
    </script>
{% endblock %}