
{% for user in users %}
    <tr class="{% if user.banned == ban.status.BANNED %}banned table-danger{% endif %}">
        <th class="alignCenter" class="strike" scope="row">{{ loop.index }}</th>
        <td class="alignCenter" class="strike">{{ user["first_name"] }} {{ user["last_name"] }}</td>
        <td class="alignCenter" class="strike">{{ user["email"] }}</td>
        {% if app.user.role_id >= user["role_id"] %}
            <td class="alignCenter">{{ user["role_name"] }}</td>
        {% else %}
            <td class="alignCenter">
                <select name="roles" id="roles" onchange="updateRole({{ user.id_user }}, this.value)">
                    {% for role in roles %}
                        <option {% if user["role_id"] == role.id_role %} selected {% endif %} value="{{ role.id_role }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </td>
        {% endif %}
        <td class="alignCenter">
            {% set hasItems = false %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% if app.user.id_user == user.id_user and app.user.role_id != role.role_id["SUPERADMIN"] %}
                        <li><a class="dropdown-item" href="profile">Profile</a></li>
                        {% set hasItems = true %}
                    {% else %}
                        {% if user.role_id != role.role_id["SUPERADMIN"] %}
                            <li><a class="dropdown-item" href="users/{{ user.username }}">Profile</a></li>
                            {% set hasItems = true %}
                        {% endif %}

                        {% if app.user.role_id < user.role_id %}
                            {% if user.banned == ban.status.UNBANNED %}
                                <li><button class="dropdown-item" onclick="banUser({{ user.id_user }})">Ban</button></li>
                            {% else %}
                                <li><button class="dropdown-item" onclick="unBanUser({{ user.id_user }})">Unban</button></li>
                            {% endif %}
                            <li><button class="dropdown-item" onclick="deleteUser({{ user.id_user }})">Delete</button></li>
                            {% set hasItems = true %}
                        {% endif %}
                    {% endif %}

                    {% if not hasItems %}
                        <li><span class="dropdown-item disabled">No actions available</span></li>
                    {% endif %}
                </ul>
            </div>



        </td>
    </tr>
{% endfor %}